.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}
.example-button-row {
  display: table-cell;
  width: 450px;
}

.card {
  width: 80%;
  height: 50px;
  align-items: center;
  line-height: 350%;
}

div.main {
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #cac9c9c7 1%,
    #ffffff 100%
  ); /* Chrome10+,Safari5.1+ */
  height: calc(100vh);
  width: 100%;
}

input {
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

#emp form {
  width: 90%;
}
#emp,
.logo {
  display: inline-block;
  margin-top: 5%;
}
#emp {
  padding: 0px 12px;
}
.logo {
  color: #fff;
  font-size: 50px;
  line-height: 125px;
  width: 300px;
  position: relative;
  animation: myfirst 10s;
  animation-direction: alternate;
}

#emp form input {
  height: 50px;
}

#emp form input[type="text"],
input[type="password"] {
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 100%;
}

.error-block {
  color: red;
}
.c1{
  position: relative;
  animation: mysecond 6s;
  animation-direction: alternate;
}
.c2{
  position: relative;
  animation: mysecond 8s;
  animation-direction: alternate;
}
.c3{
  position: relative;
  animation: mysecond 10s;
  animation-direction: alternate;
}
@keyframes myfirst {
  0%   { right: 800px; top: 0px;}
  25%  { right: 0px; top: 0px;}
 
}
@keyframes mysecond {
  0%   { left: 800px; top: 0px;}
  25%  { left: 0px; top: 0px;}
 
}
